html
  head
    title Email Verification
  body(style="font-family: Arial, sans-serif; background-color: #ffffff; color: #000; margin: 0; padding: 0;")
    div(style="max-width: 600px; margin: 0 auto; padding: 20px;")
      h1(style="text-align: center; color: #007acc;") Email Verification
      p(style="text-align: center; font-size: 18px; margin-top: 20px;") To complete your registration, please check your email and click the button below.
      a(href=url style="display: block; background-color: #007acc; color: #ffffff; text-align: center; padding: 20px 0; text-decoration: none; font-size: 20px; border-radius: 10px; margin-top: 30px;") Verify Email
